.list-group .list-group-item:first-child { padding: 10px; } 
    form {
      margin: 100px 200px 10px;
    }
    body {
      background-image: url('https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  -o-background-size: cover;
  background-size: cover;
    }
    ul{
      margin: 10px 200px;
    }